extends layout

block content
    .post
     h1=post.title
     p.meta Posted in 
      a(href='/posts/categories/#{post.category}') #{post.category}
      &nbsp;by 
      a(href='/posts/author/#{post.author}') #{post.author}
      &nbsp;on #{moment(post.date).format("MM-DD-YYYY")}
     img(src='/images/#{post.mainimage}')
     !=post.body
     br
     hr
     if post.comments
      h3 Comments
      each comment, i in post.comments
       .comment
        p.comment-name #{comment.name}
        p.comment-body #{comment.body}